.modal-backdrop {
  position: fixed;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999;
}

.modal-box {
  background: white;
  padding: calc(20 / 14.4 * 1vw);
  border-radius: calc(10 / 14.4 * 1vw);
  width: 90%;
  max-width: 500px;
  position: relative;
}

.close-btn {
  position: absolute;
  top: calc(10 / 14.4 * 1vw);
  right: calc(14 / 14.4 * 1vw);
  border: none;
  background: none;
  font-size: calc(20 / 14.4 * 1vw);
  cursor: pointer;
}
